/* RESET BROWSER DEFAULTS & SET FONTS */
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

/* SET COLOR PALLETTE */
body,
html {
  --main-color: rgb(255, 0, 140);
  --font-color: white;
  --accent-color: rgb(92, 203, 250);
}

/* SECTION 1 -- LANDING PAGE */
.section1_opening {
  background-image: url(../img/section1bg.jpg);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

#section1_content_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#logo {
  width: 20%;
  height: auto;
  padding-bottom: 5px;
}

#section1_title {
  font-size: 200px;
  color: var(--main-color);
}

#section1_subtitle {
  color: var(--font-color);
  padding-top: 20px;
  font-size: 50px;
  margin-bottom: 80px;
}

#section1_btn {
  height: 80px;
  width: 80px;
  border-top: 11px solid var(--main-color);
  border-left: 11px solid var(--main-color);
  transform: rotate(225deg);
  background-color: transparent;
}

#section1_btn:hover {
  cursor: pointer;
}

/* SECTION 2 -- OVERVIEW */
.section2_overview {
  background-image: url(../img/section2bg.jpg);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#section2_title {
  font-size: 90px;
  color: var(--font-color);
  font-weight: bold;
  margin-left: 20px;
  padding: 20px;
}

.intro_descript {
  display: block;
  align-content: center;
  justify-content: space-between;
  color: var(--font-color);
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-right: 20px;
}

#tour_info {
  padding-bottom: 30px;
}

#readMore_overview_button {
  background-color: var(--accent-color);
  border-radius: 5px;
  color: var(--font-color);
  padding: 20px;
  text-align: center;
  font-size: 24px;
  transition: 0.3s;
  cursor: pointer;
  margin: 15px 15px 15px 15px;
  align-self: center;
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}

/* SECTION 3 -- EXPERIENCE */
.section3_experience {
  background-image: url(../img/section3bgdark.JPG);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

#experience_title {
  font-size: 80px;
  color: var(--font-color);
  text-align: center;
  padding: 30px 0px 50px 0px;
}

.experience_highlights {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0px 60px 0px 60px;
}

.highlight h1 {
  color: var(--font-color);
  font-weight: bold;
  text-align: center;
  padding-left: 20px;
  padding-bottom: 7px;
  transform: translateY(-300%);
  text-align: left;
}

.experience_highlights img {
  height: 550px;
  width: 425px;
  display: block;
}

.highlight {
  align-content: center;
  text-align: center;
}

.highlight_btn {
  height: 30px;
  width: 30px;
  border-top: 7px solid var(--main-color);
  border-left: 7px solid var(--main-color);
  background-color: transparent;
  transform: translate(-550%, -350%) rotate(225deg);
}

#readMore_experience_button {
  background-color: var(--accent-color);
  border-radius: 5px;
  color: var(--font-color);
  padding: 20px;
  text-align: center;
  font-size: 24px;
  transition: 0.3s;
}

#experience_btn_wrapper {
  display: flex;
  justify-content: center;
}

/* SECTION 4 -- TOUR */
.section4_tour {
  background-image: url(../img/section4bg.JPG);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.section4_tour h1 {
  font-size: 70px;
  color: var(--font-color);
  padding: calc(100vh / 5) 200px 100px 40px;
}

.section4_tour h2 {
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 30px;
  color: var(--font-color);
}

.section4_tour p {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  color: var(--font-color);
  font-weight: lighter;
  line-height: 1.3;
}

#tour_descript {
  padding: calc(100vh / 7) calc(100vh / 7) calc(100vh / 7) 0px;
}

/* SECTION 5 -- FACTS */
.section5_facts {
  background-image: url(../img/section5bg.JPG);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: var(--font-color);
  text-align: center;
}

.fact {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(28, 78, 39);
  margin: calc(100vh / 3) 60px calc(100vh / 3) 60px;
}

.fact h1 {
  font-size: 64px;
  padding-top: 75px;
  color: var(--main-color);
}

.fact h2 {
  padding-top: 15px;
}

/* SECTION 6 -- TRAVELER */
.section6_traveler {
  background-image: url(../img/section6bg.JPG);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

#traveler_quote_wrapper {
  display: flex;
  justify-content: center;
  padding-top: 110px;
}

#traveler_feature img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  padding: 60px;
}

#traveler_feature {
  margin: auto;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 24px;
  width: 600px;
}

#traveler_feature figcaption {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
}

#traveler_btn {
  height: 80px;
  width: 80px;
  border-top: 11px solid var(--main-color);
  border-left: 11px solid var(--main-color);
  transform: rotate(225deg);
  background-color: transparent;
}

#traveler_btn_wrapper {
  display: flex;
  justify-content: center;
}

/* SECTION 7 -- GALLERY */
.picture_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery_img {
  height: 500px;
  width: calc(100vw / 4);
}

/* SECTION 8 -- CONTACT */
.section8_contact {
  background-image: url(../img/section8bg.jpg);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.contact_info {
  color: var(--font-color);
  line-height: 1.75;
}

.contact_info h1 {
  font-size: 120px;
  margin: 225px 0 0 150px;
  color: var(--main-color);
}

.contact_info p {
  font-size: 24px;
  font-weight: bold;
  margin-left: 150px;
}

.contact_input {
  display: flex;
  flex-direction: column;
}

.contact_input input {
  background-color: var(--font-color);
  border: 4px solid var(--main-color);
  margin-right: 150px;
  margin-bottom: 30px;
  color: black;
  font-size: 20px;
  padding-left: 10px;
}

#input_name {
  margin-top: 300px;
  width: 650px;
  height: 50px;
}

#input_email {
  width: 650px;
  height: 50px;
}

#input_message {
  width: 650px;
  height: 150px;
}

#message {
  background-color: var(--font-color);
  border: 4px solid var(--main-color);
  margin-right: 150px;
  margin-bottom: 30px;
  color: black;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

#contact_submit_btn {
  background-color: var(--accent-color);
  border-radius: 5px;
  color: var(--font-color);
  padding: 20px;
  text-align: center;
  font-size: 24px;
  transition: 0.3s;
  width: 200px;
}

#social_media {
  margin-left: 150px;
}

#social_media a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 40px;
  margin-right: 30px;
  margin-top: 30px;
}
